<div class="row">
  <div class="col-sm-12 col-lg-4">
    <%= render file: HackumassWeb::Application::copy_for('shared/home_pages/accepted_view_rsvp') %>
  </div>

  <div class="col-sm-12 col-lg-4">
    <%= render file: HackumassWeb::Application::copy_for('shared/home_pages/accepted_view_traveling') %>  
  </div>

  <div class="col-sm-12 col-lg-4">
      <%= render file: HackumassWeb::Application::copy_for('shared/home_pages/accepted_view_location') %>  
  </div>
</div>
