<div class="row">
  <div class="col-sm-12 col-lg-4">
    <div class="card">
      <div class="card-status bg-success"></div>
      <div class="card-header">
        <h3 class="card-title">Congratulations!👏</h3>
      </div>
      <div class="card-body d-flex flex-column">
        <p><div class="text-muted">Congratulations! You’ve been accepted!</div></p>
        <div class="text-muted">The event is from October 12th-14th at the University of Massachusetts Amherst.  In order to participate, make sure to rsvp with the button below.</div>
        <p><div class="text-muted">By clicking the RSVP button you are letting us know that you will <b> definitely</b> come to the event. We will be reserving swag, food and more for you. So please only RSVP if you are 100% sure you’ll be attending.</div></p>
        <br>
        <center>
          <%= link_to 'RSVP For The Event', rsvp_path, class: 'btn btn-success' %>
        </center>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-4">
    <div class="card">
      <div class="card-status bg-purple"></div>
      <div class="card-header">
        <h3 class="card-title">Traveling 🚌</h3>
      </div>
      <div class="card-body d-flex flex-column">
        <h3>Sign Up for Free Buses!</h3>
        <p>We are happy to announce that we have partnered with Bus.com to offer free travel to our attendees. Round trip travel from Boston & New York will be provided. </p>
        <p>Despite what the Bus.com website might say, all <b>New York</b> buses will be leaving from New York University at <b>11:45 AM</b>.</p>
        <p><b>Boston</b> buses will be leaving from Boston University at <b>02:30 PM</b>.</p>
        <p>All pickup times are subject to change since we might be upgrading all our buses to coach and or adding more buses if needed. We will keep you updated if anything changes.</p>
        <p></p>
        <a href="https://www.bus.com/events/668169214-hack-umass-vi" target="_blank" class="btn btn-secondary ">Sign Up for the Bus</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-4">
    <div class="card">
      <div class="card-status bg-blue"></div>
      <div class="card-header">
        <h3 class="card-title">Getting to the Hackathon 🚶‍</h3>
      </div>
      <div class="card-body d-flex flex-column">
        <p><div class="text-muted">HackUMass happens at the Integrated Learning Center(ILC) at the University of Massachusetts Amherst.</div></p>
        <p><div class="text-muted">If you’re driving to the event, you must park in Lot 44, Lot 20, or Lot 22 and then walk over to our venue. Check out our venue on Google Maps if you have problems navigating campus.</div></p>
        <div class="text-muted">If you have any questions, ask us know at team@hackumass.com </div>
        <br>
        <a href="https://goo.gl/maps/851VYrC6oLJ2" target="_blank" class="btn btn-secondary">See Our Venue on Google Maps</a>
      </div>
    </div>
  </div>

</div>
