<center>
  <div class="col-sm-12 col-lg-5">
    <div class="card">
      <div class="card-status bg-warning"></div>
      <div class="card-body d-flex flex-column">
        <h2>Hey, <%= current_user.first_name.capitalize %>!</h2>
        <div class="text-muted">Congratulations on making the first steps to participate in <%= HackumassWeb::Application::HACKATHON_NAME %> <%= HackumassWeb::Application::HACKATHON_VERSION %>! In order to particpate, you will need to fill out an application. <b>Sadly, our applications are closed, but you can still apply for the waitlist!</b> </div>
        <div class="d-flex align-items-center pt-5 mt-auto">
        </div>
        <%= link_to 'Apply For Waitlist', apply_path,class: 'btn btn-warning' %>
      </div>
    </div>
  </div>
</center>
