<div class="alert alert-icon alert-primary" role="alert">
  <i class="fe fe-bell mr-2" aria-hidden="true"></i> <b>Hello there!</b> This is the organizer dashboard! This page will be updated very soon. Stay Tuned.
</div>
