<% if current_user.has_slack? %>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-status card-status-left bg-dark"></div>
      <div class="card-body d-flex flex-column">
        <p><b>Congrats!</b> You joined our slack! Make sure to download the app and add the HackUMass VI workspace so you can easily access channels through this website. After you download the app, try to introduce yourself in the <b>#introductions</b> channel.</p>
        <a href="https://hackumassvi.slack.com/app_redirect?channel=introductions" target="_blank" class="btn btn-dark"><i class="fe fe-slack mr-2"></i>Go to #introductions channel</a>
      </div>
    </div>
  </div>
</div>
<% else %>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-status card-status-left bg-dark"></div>
        <div class="card-body d-flex flex-column">
          <p><b>Hello!</b> Please join our slack! Once you join slack, you will be able to talk to <b>mentors</b>, check out our <b>hardware</b>, see our <b>prizes</b>, and more. </p>
          <p><b>FYI</b>, You must create your slack account with this email: <b><%= current_user.email %> </b>. Otherwise you might encounter some problems...</p>
          <a href="https://join.slack.com/t/hackumassvi/shared_invite/enQtNDQwOTU5MTU0MTAwLTU4NTNiNTk0MGIxYTJlMTMyOGZjZGQ1MmU2NGYyZmYzZTc3MTQ4YWQ4YWFlMDZhZTQ0YmIwNjQ5YjRjOWRiMDM" target="_blank" class="btn btn-dark"><i class="fe fe-slack mr-2"></i>Join Our Slack</a>

        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-12 col-lg-4">
    <div class="card">
      <div class="card-status bg-success"></div>
      <div class="card-header">
        <h3 class="card-title">Check In! 👾</h3>
      </div>
      <div class="card-body d-flex flex-column">
        <center>
          <%= image_tag @qr_image.to_data_url, style: 'height: 300px; width:300px' %>
        </center>
        <p><div class="text-muted">Once you arrive, use the QR Code above, to check in at the welcome desk.</div></p>
        <div class="text-muted">If for some reason your QR Code can't be scanned, you can still check in using your email address which is <b><%= current_user.email %></b> </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-4">
    <div class="card">
      <div class="card-status bg-purple"></div>
      <div class="card-header">
        <h3 class="card-title">Traveling 🚌</h3>
      </div>
      <div class="card-body d-flex flex-column">
        <h3>Free buses will be provided!</h3>
        <p>Round trip travel from Boston & New York will be provided. </p>
        <p>We will send the link to sign up for the buses on Wednesday October 3rd via email. The link to sign up will also be avilable on this website.</p>
        <div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/xT9KVBpc46FKGuAUaQ" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-4">
    <div class="card">
      <div class="card-status bg-blue"></div>
      <div class="card-header">
        <h3 class="card-title">Getting to the Hackathon 🚶‍</h3>
      </div>
      <div class="card-body d-flex flex-column">
        <p><div class="text-muted">HackUMass happens at the Integrated Learning Center(ILC) at the University of Massachusetts Amherst.</div></p>
        <p><div class="text-muted">If you’re driving to the event, you must park in Lot 44, Lot 20, or Lot 22 and then walk over to our venue. Check out our venue on Google Maps if you have problems navigating campus.</div></p>
        <div class="text-muted">If you have any questions, ask us know at team@hackumass.com </div>
        <br>
        <center>
          <a href="https://goo.gl/maps/851VYrC6oLJ2" target="_blank" class="btn btn-secondary">See Our Venue on Google Maps</a>
        </center>
      </div>
    </div>
  </div>

</div>
