<div class="page-header">
  <h1 class="page-title">Feature Flags</h1>
</div>

<div class="col-lg-5">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Features</h4>
    </div>
    <table class="table card-table">
      <tbody>
        <% @feature_flags.each do |feature_flag| %>
        <tr>
          <td>
            <% if feature_flag.value == true%>
            <span class="stamp stamp-md bg-green">
              <i class="fe fe-check"></i>
            </span>
            <% else %>
            <span class="stamp stamp-md bg-red">
              <i class="fe fe-alert-circle"></i>
            </span>
            <% end %>
          </td>
          <td style="vertical-align: middle"><%= feature_flag.display_name %></td>
          <td style="vertical-align: middle">
            <% if feature_flag.value == true%>
            <%= button_to 'Disable',
              {controller:'feature_flags', action: 'disable',
              params: {flag: feature_flag}},
              {class: 'btn btn-secondary btn-sm'} %>
            <% else %>
              <%= button_to 'Enable',
                {controller:'feature_flags', action: 'enable',
                params: {flag: feature_flag}},
                {class: 'btn btn-secondary btn-sm'} %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
