<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
    body{
      font-family: sans-serif;
    }
    .panel { 
      display: inline-block;
      background: #ffffff;
      margin: 10px;
      padding: 10px; 
    }
    </style>
  </head>
  <body>
    <div class='panel'>
      <div>
        <div>
          <%= image_tag 'HUMVLogo.svg', style:'width:360px' %>
        </div>
        </div>
          <h1>Hi, <%= @user.first_name %> <%= @user.last_name %> </h1>
          <p>Congrulation, you have been accepted into HackUMass V!</p>
          <h2>What's next?</h2>
          <p>Please install the HackUMass V application from the appstore or the playstore the links are show below:</p>
          <p>We hope to see at the event!!</p>
          <p>- HackUMass Team </p>
        </div>
      </div>
    </div>
  </body>
</html>
