<br>
<br>
<footer class="footer">
  <div class="row">
    <hr style="margin: 0">
    <div class="container">
      <p>Made with <3 ï¸by the HackUMass Tech team. V 0.2.3</p>
    </div>
  </div>
</footer>
