<br>
<br>
<footer class="footer">
  <div class="row">
    <hr style="margin: 0">
    <div class="container">
      <p>Made with <span style="color:#E70F47">❤</span> by the HackUMass Tech team. V 0.3.9</p>
    </div>
  </div>
</footer>
