<div class="page-header">
  <h1 class="page-title">Schedule</h1>
</div>
<% if current_user.is_admin? or current_user.is_organizer? %>
<%= link_to 'Download CSV', events_path(@event, format: 'csv'), class: 'btn btn-secondary' %>
<br><br>

<% end %>

<% if [true, false].sample %>
  <div class="alert alert-icon alert-primary" role="alert">
    <i class="fe fe-bell mr-2" aria-hidden="true"></i> <b>Just FYI:</b> This is a live schedule! More events, workshops, and talks will be added before the hackathon begins and even during the hackathon.
  </div>
<% end %>

<% if @events.empty? %>
    <center><h3>Looks like there aren't any events yet....</h3></center>
<% end %>



<% @events.each do |event| %>
  <%= render 'event', event: event, show_edit_and_delete: true%>
<% end %>

<center>
  <%= will_paginate @events %>
</center>


<br>

<% if current_user.is_admin? or current_user.is_organizer? %>
  <%= link_to 'New Event', new_event_path, class: 'btn btn-secondary' %>
<% end %>
