<center>
<h5 style="margin-top: 0px; margin-bottom: 0px"><%= @hardware_item.name %></h5>
<img src="http://www.barcodes4.me/barcode/c39/<%= @hardware_item.uid %>.jpg" alt=""><br>
<h6 style="margin-top: 0px; margin-bottom: 0px"><%= @hardware_item.uid %></h6>
</center>