<div class="page-header">
  <h1 class="page-title">New Hardware Item</h1>
</div>

<%= render 'form', hardware_item: @hardware_item %>

<%= link_to 'Back', hardware_items_path, class: 'btn btn-default', style: 'color: #2196F3' %>
