<span style="white-space: nowrap">
    Made with ❤ by the <%= HackumassWeb::Application::HACKATHON_NAME %> Tech Team.
</span>
<span style="white-space: nowrap; color: #9aa0ac">
    Powered by the
    <a href="https://platform.hackumass.com">
        <%= image_tag("dashboard-logo.png", height: 16, class: 'dashboard-logo') %>
        FuseUMass Platform
    </a>
</span>