<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Upcoming Events</h3>
      </div>
      <div class="panel-body">

        <!--TODO: Get rid of this placeholder bullshit-->
        <!--<div class="list-group">-->
          <!--<a href="#" class="list-group-item">-->
            <!--<h5 class="list-group-item-heading">First Event</h5>-->
            <!--<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>-->
          <!--</a>-->
          <!--<a href="#" class="list-group-item">-->
            <!--<h5 class="list-group-item-heading">Second Event</h5>-->
            <!--<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>-->
          <!--</a>-->
          <!--<a href="#" class="list-group-item">-->
            <!--<h5 class="list-group-item-heading">Thrid Event</h5>-->
            <!--<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>-->
          <!--</a>-->
          <!--<a href="#" class="list-group-item">-->
            <!--<h5 class="list-group-item-heading">Fourth Event</h5>-->
            <!--<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>-->
          <!--</a>-->
        <!--</div>-->
        There are no upcoming events.

      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Your Hardware Checkouts</h3>
      </div>
      <div class="panel-body">
        <% if current_user.hardware_checkouts.any? %>
            <div class="list-group">
            <% current_user.hardware_checkouts.each do |checkout| %>
                <a class="list-group-item"><%= checkout.hardware_item.name %></a>
            <% end %>
            </div>
      <% else %>
          It seems like you haven't checked out any hardware yet.
        <% end %>

      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Your Mentorship Requests</h3>
      </div>
      <div class="panel-body">
        <!--TODO: Actually check if they have created a mentorship request-->
        <p>Looks like you haven't asked for a mentor yet. Create a mentorship request if you do!</p>
        <%= link_to 'I need a mentor', new_mentorship_request_path, class: 'btn btn-info btn-md' %>
      </div>
    </div>
  </div>
</div>