<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<h1>Check In</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <%= form_tag check_in_path, method: :get, class:'col-lg-12' do%>
        <div class="input-group">
          <%= text_field_tag :email,'', class: 'form-control', placeholder: 'Scan QR Code or Type email', :autofocus => true, data: {autocomplete: autocomplete_user_email_hardware_checkouts_path}%>
          <span class="input-group-btn">
              <%= submit_tag 'Check In', class: 'btn btn-primary' %>
            </span>
        </div>
    <%end%>
  </div>
</div>
