<div class="row" style="margin-top:5%">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-status card-status-left bg-dark"></div>
      <div class="card-body d-flex flex-column">
        <%= render file: HackumassWeb::Application::copy_for('pages/join_slack') %>
      </div>
    </div>
  </div>
</div>
