<div class="row" style="margin-top:5%">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-status card-status-left bg-dark"></div>
      <div class="card-body d-flex flex-column">
        <% if HackumassWeb::Application::SLACK_ENABLED %>
          <%= render file: HackumassWeb::Application::copy_for('pages/join_slack') %>
          <div class="row">
            <div class="col-sm-9">
              <a href="<%= HackumassWeb::Application::SLACK_JOIN_URL %>" target="_blank" class="btn btn-dark" style="width: 100%"><i class="fe fe-slack mr-2"></i>Join Slack</a>
            </div>
            <div class="col-sm-3">
              <center>
                <a href="<%= slackintegration_reassociate_self_path %>" class="btn btn-outline-secondary"><i class="fe fe-refresh-cw mr-2"></i>I already joined!</a>
              </center>
            </div>
          </div>
        <% else %>
          <div class="row">
            <div class="col-sm-12">
              <p>Slack integration is disabled. Please contact a hackathon organizer if you encounter this page while trying to access a feature.</p>
            </div>
          </div>  
        <% end %>
      </div>
    </div>
  </div>
</div>
