<div class="page-header">
  <h1 class="page-title">Manage Permissions</h1>
</div>

<div class="col-lg-12">
  <%= render 'shared/permissions' %>
</div>

<%= link_to 'Return to Admin Page', admin_path, class: 'btn btn-secondary'%>