<div class="header py-4">
  <div class="container">
    <div class="d-flex">
      <a class="header-brand" href="/">
        <%= image_tag(HackumassWeb::Application::NAV_LOGO_PATH, class: 'header-brand-img')%>
      </a>

      <div class="d-flex order-lg-2 ml-auto" style="visibility: hidden">
        <div class="dropdown">
          <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
            <span class="avatar" style=""></span>
            <span class="ml-2 d-none d-lg-block">
              <span class="text-default">.</span>
              <small class="text-muted d-block mt-1">.</small>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <a class="dropdown-item" rel="nofollow" data-method="delete" href="/logout">
              <i class="dropdown-icon fe fe-log-out"></i> Sign out
</a>          </div>
        </div>
      </div>
      <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
        <span class="header-toggler-icon"></span>
      </a>
    </div>
  </div>
</div>
<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg order-lg-first">
        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">

            <li class="nav-item">
            <%= link_to projects_path, class: "nav-link #{'active' if is_projects_view_active?}" do %>
                <i class="fe fe-layers"></i> Projects</a>
            <% end %>
            </li>

        </ul>
      </div>
    </div>
  </div>
</div>
