<div class="page-header">
  <h1 class="page-title">Project Creation Information</h1>
</div>

<div class="card">

  <div class="card-body">
    To win prizes and have your hack judged, you must first create and submit an overview of your project on Dashboard. Please review the following requirements before creating the project.
  </div>

  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">Project Creation</dt>
      <dd class="col-sm-9">You should only create one project page per team.</dd>

      <dt class="col-sm-3">Editing</dt>
      <dd class="col-sm-9">Project submissions may be edited after creation until the deadline.</dd>

      <dt class="col-sm-3">Team Members</dt>
      <dd class="col-sm-9">Every member of the project team must be included in the submission to receive credit.</dd>

      <dt class="col-sm-3">Prizes</dt>
      <dd class="col-sm-9">Up to 4 individual prizes are given per team. If there are more than 4 team members, only 4 will receive prizes.</dd>

    </dl>
  </div>



  <div class="card-body">
    The email address associated with your account is: <b style="color: red;"><%= current_user.email%></b>.
    <br>
    In order to be added to a project as a contributor, the person creating the new project must add the email address above as a team member.
  </div>

  <div class="card-body o-auto">
  <% if has_access_to_projects? %>
      <%= link_to new_project_path, class: "nav-link #{'active' if is_projects_create_active?}" do %>
        <p class="btn btn-dark"> Create New Project</p>
      <% end %>
  <% end %>
  </div>
</div>
