<div class="page-header">
  <h1 class="page-title">Edit Project Team</h1>
</div>

<div class="row">

  <div class="col-md-12 col-xl-12">
    <div class="card">
      <div class="card-body">

        Team Member Selection Form Here

      </div>
    </div>

    <div class="card">
      <div class="card-body">

        List of Team Members Here

      </div>
    </div>
  </div>

  <div class="col-md-4 col-xl-4">
      <%= link_to 'Return to Project', project_path(@project), class: 'btn btn-secondary' %>
  </div>


  </div>



</div>

<br>
