<div class="page-header">
    <h1>New Mentorship Notification</h1>
</div>
<%= render 'form', mentorship_notification: @mentorship_notification %>
<%= link_to 'Back', mentorship_notifications_path, class: 'btn btn-danger'%>
