//=require event_application
$brand-primary: #E70F47;

@import "bootstrap-sprockets";
@import "bootswatch/paper/variables";
@import "bootstrap";
@import "bootswatch/paper/bootswatch";


.label{
  font-size: 100%;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
