$event-application-large-button-width: 155px;
$event-application-medium-button-width: 75px;
$event-application-medium-button-height: 35px;
$primary-color: #926dde;
$error-color: red;

.event-application-required-field:after {
  content: ' * ';
  color: $error-color;
}

.event-application-nav-button-container {
  margin: 10px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.event-application-nav-button {
  width: $event-application-large-button-width;
  background-color: $primary-color;
  border-color: $primary-color;

}

.event-application-flex-end-container {
  display: flex;
  justify-content: flex-end;
}

.event-application-flex-mid-container {
  display: flex;
  justify-content: center;
}

.event-application-status-button {
  margin: 5px;
  width: $event-application-medium-button-width;
  height: $event-application-medium-button-height;
}

.event-application-card-padding {
  margin-left: 5px;
  padding-left: 5px;
}

.event-application-page-title-margin-right {
  margin-right: 5px;
}

.event-application-header-status-margin {
  margin-left: 6px;
  margin-top: 4px;
}

.event-application-error-text {
  color: $error-color;
}

.event-application-form-group {
  margin-top: 30px;
  margin-bottom: 30px;
}

.event-application-flex-space-around {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  width: 100%;
}

.event-application-error-card-padding {
  padding: 20px 0px;
}

.event-application-hidden {
  display: none;
}

.event-application-resume-container {
  width: 100%;
}

#javascript-container {
  display: none;
}

.resume-optional:after {
  color: $error-color;
}