.required-field-key:before, .required-field:after{
  content: ' * ';
  color: red;
}

.required-field-key, #submit{
  float: right;
}

.field_with_errors{
  display: inline;
}

#food-info, #transport-info, #hardware-hack-list{
  display: none;
}

.character-counter{
  color: lightgrey;
  float: right;
}

#text-box, #text-box-2, #text-box-3{
  background-color: #fdfdfd;
}

.table-header, .table-row{
  text-align: center;
}

.table-link{
  color :black; 
  text-decoration: none;
}