// Place all the styles related to the judging controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  
  .card-input-element + .judge_button {
    color: var(--primary);
    box-shadow: none;
    border: 2px solid transparent;
    border-radius: 4px;
  }
  
  .card-input-element + .judge_button:hover {
    cursor: pointer;
  }
  
  .card-input-element:checked + .judge_button {
    border: 2px solid var(--primary);
    transition: border .3s;
  }

// Judging form
.judge_button_style {
  min-width: 160px;
}

// Pop up for project description
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}


.main-row-header {
  display: flex;
}
.card-header-padding {
  padding-top: 9px;
}