<div class="page-header">
  <h1 class="page-title">New Prize</h1>
</div>

<div class="col-lg-6">
	<%= render 'form', prize: @prize %>
</div>

<br>
<br>
<%= link_to 'Back', prizes_path, class: 'btn btn-secondary'%>
