<div class="card-body">

  <div class="col-lg-8">
    <%= form_for @judgement, url: new_judging_path, html: { method: :post } do |j| %>

    <div class="form-group">
      <label for="title">Project Name</label>
      <input type="textfield" id="title" disabled class="form-control" value="<%= params[:project_title] %>">
    </div>

    <div class="form-group">
      <%= j.text_field :user_id, class: 'form-control', placeholder: 'Email Address of Judge\'s account.' %>
    </div>

    <div class="actions">
      <%= j.submit class: 'btn btn-primary' %>
    </div>

    <% end %>
  </div>
</div>
