<div class="page-header">
  <h1 class="page-title">Judging Forms</h1>
</div>

<div class="col-5">
  <%= button_to 'Generate Judging Forms',
                {controller: 'judging', action: 'generateforms'},
                {class: 'btn btn-red btn-block'} %>
</div>