<div class="col-lg-12">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#permissions" data-toggle="tab">Permissions</a></li>
    <li><a href="#applications" data-toggle="tab">Applications</a></li>
    <li><a href="#statistics" data-toggle="tab">Statistics</a></li>
  </ul>

  <br>
  <br>

  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="permissions">
      <%= render 'shared/permissions' %>
    </div>
    <div class="tab-pane fade" id="applications">
       <h2>Applications</h2>
    </div>
    <div class="tab-pane fade" id="statistics">
      <h2>Statistics</h2>
    </div>


  </div>
</div>